<div class="form-group">
    <div class="col-sm-10">
      API Key : <input type="text" class="form-control" ng-model="apikey" placeholder="api key goes here...">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10">
      Authorization : <input type="text" class="form-control" ng-model="authorization" placeholder="authorization key..">
    </div>
</div>
<div class="form-group">
    <div class="row">
        <br>
        <div class="col-md-6">
            <div class="col-md-4">Name :</div>
            <div>
                <input type="text" class="form-control"  placeholder="Enter Name.." ng-model="name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">Beer Quantity :</div>
            <div><input type="text" class="form-control"  placeholder="Enter Beer Quantity.." ng-model="beer_qty"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">Bread Quantity :</div>
            <div><input type="text" class="form-control" placeholder="Enter Bread Quantity.." ng-model="bread_qty"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">Wine Quantity :</div>
            <div><input type="text" class="form-control" placeholder="Enter Wine Quantity.." ng-model="wine_qty"></div>
        </div>
    </div>
   <label class="col-md-4 control-label" for="submit"></label>
   <div class="col-md-4 center-block">
      <button id="submit" name="submit" class="btn btn-primary center-block" ng-click="postGroceries(name, beer_qty, bread_qty, wine_qty, authorization, apikey)">
          Submit
       </button>
    <div style="color:red; font-size:14px">
        {{ errorStatus }}
    </div>

   </div>

</div>
<div class="row">
	<div class="col-lg-12">
		<rd-widget>
            <rd-widget-header icon="fa-tasks" title="Entities"></rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <section class="">
                        <table>
                            <thead>
                                <tr class="header">
                                    <th>UUID<div>UUID</div></th>
                                    <th>NAME<div>NAME</div></th>
                                    <th>TYPE<div>TYPE</div></th>
                                    <th>MP CUSTOMER<div>MP CUSTOMER</div></th>
                                    <th>CREATED DATE<div>CREATED DATE</div></th>
                                    <th>MODIFIED DATE<div>MODIFIED DATE</div></th>
                                    <th>BEER<div>BEER</div></th>
                                    <th>BREAD<div>BREAD</div></th>
                                    <th>WINE<div>WINE</div></th>
                                    <th>METADATA<div>METADATA</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="grocery in groceries">
                                    <td>{{ grocery.uuid }}</td>
                                    <td>{{ grocery.name }}</td>
                                    <td>{{ grocery.type }}</td>
                                    <td>{{ grocery.mp_customer }}</td>
                                    <td>{{ grocery.created | date:'medium'}}</td>
                                    <td>{{ grocery.modified | date:'medium' }}</td>
                                    <td>{{ grocery.beer }}</td>
                                    <td>{{ grocery.bread }}</td>
                                    <td>{{ grocery.wine }}</td>
                                    <td>Path: {{ grocery.metadata.path }}<br>
                                        Size: {{ grocery.metdata.size }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </rd-widget-body>
		</rd-widget>
	</div>
</div>
